.news_wrapper {
  display: block;
  /* position: relative; */
  /* color: rgb(143, 222, 119); */
  /* width: 100%; */
  font-family: "Rye", serif;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202, 0.5) 0%, rgba(148,187,233, 0.5) 100%);
  color: var(--text-color);
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 10px;
  z-index: 1;
}

.pagination {
  font-size: 18px;
  padding: 15px;
  text-align: center;
}

.pageNumber {
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
  color: #000;
}

.selectedPade {
  color: var(--text-inactive);
}

.selectedPage {
  font-weight: bold;
  color: #ff6347; /* Например, цвет для выбранной страницы */
  border-bottom: 2px solid #ff6347;
}

.title {
  color: rgb(13, 94, 8);
  text-align: center;
  font-size: 34px;
  font-weight: 400;
  padding-top: 10px;
}

.button_news {
  padding: 5px;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
}

.news_wrapper p {
  color: var(--text-color);
  text-align: center;
  font-size: 34px;
  font-weight: 400;
}

.news_wrapper ul {
  list-style-type: none;
  font-family: "Moderustic", sans-serif;
}

.news_item {
  padding-bottom: 10px;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  border-radius: 15px;
  cursor: pointer;
}

.news_item:hover {
  border: 4px var(--text-active) solid;
}

.news_title {
  font-weight: 400;
  text-align: center;
  color: var(--text-active);
  font-size: 30px;
  padding-bottom: -10px;
  padding: 0 40px 0 30px;
}

.news_content {
  display: flex;
}

.news_img {
  height: 150px;
}

.news_item p {
  padding-bottom: -10px;
  font-size: 24px;
  margin: 0;
}

.news_link {
  color: var(--text-page);
  text-decoration: none;
  padding-bottom: 0px;
  margin: 0;
  padding: 0;
}

.news_link:hover {
  color: var(--text-active);
}