.news_wrapper {
  display: block;
  /* position: relative; */
  /* color: rgb(143, 222, 119); */
  /* width: 100%; */
  font-family: "Rye", serif;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202, 0.5) 0%, rgba(148,187,233, 0.5) 100%);
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 10px;
  z-index: 1;
}

.title {
  color: rgb(13, 94, 8);
  text-align: center;
  font-size: 34px;
  font-weight: 400;
  padding-top: 10px;
}

.news_wrapper p {
  color: white;
  text-align: center;
  font-size: 34px;
  font-weight: 400;
}

.news_wrapper ul {
  list-style-type: none;
  font-family: "Moderustic", sans-serif;
}

.news_item {
  padding-bottom: 10px;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  border-radius: 15px;
  cursor: pointer;
}

.news_item:hover {
  border: 4px white solid;
}

.news_title {
  font-weight: 400;
  padding-bottom: -10px;
}

.news_item p {
  padding-bottom: -10px;
  margin: 0;
}

.news_link {
  color: rgb(100, 149, 237);
  text-decoration: none;
  padding-bottom: 0px;
  margin: 0;
  padding: 0;
}