.news_wrapper {
  display: block;
  font-family: "Rye", serif;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(66, 53, 37, 0.726) 0%, rgba(148,187,233, 0.5) 100%);
  color: var(--text-color);
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 10px;
  z-index: 1;
}

.pagination {
  font-size: 18px;
  padding: 15px;
  text-align: center;
}

.pageNumber {
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
  color: #000;
}

.selectedPade {
  color: var(--text-inactive);
}

.selectedPage {
  font-weight: bold;
  color: #ff6347; /* Например, цвет для выбранной страницы */
  border-bottom: 2px solid #ff6347;
}

.title {
  color: var(--text-title);
  font-family: "Cinzel", serif; 
  text-align: center;
  align-items: center;
  letter-spacing: 2px;
  font-size: 38px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}