.my_fotos {
  display:inline;
  align-items: center;
  margin-right: 20px;
  padding-top: -10px;
}

.my_fotos img {
  margin-left: 20px;
  height: 150px;
}

@media (max-width: 430px) {
  .my_fotos {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
  }

  .my_fotos img {
    max-height: 100px;
    max-width: 100px;
    margin-left: 0;
    margin-right: 10px;
  }
}