.profile_wrapper {
  display: flex;
  position: relative;
  color: rgb(255, 255, 255);
  width: 85vh;
  font-size: 2em;
  font-family: "Rye", serif;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202, 0.5) 0%, rgba(148,187,233, 0.5) 100%);
  padding-left: 40px;
  padding-top: 20px;
  border-radius: 10px;
  z-index: 1;
}


