.dialog {
  display: flex;
  padding-bottom: 10px;
  text-align: center;
  align-items: center;
}

.user_dialog {
  padding-top: 20px;
}

.user_dialog a {
  text-decoration: none;
}

.avatar {
  width: 80px;
  height: 80px;
  align-items: center;
  margin-right: 10px;
  border-radius: 50%;
}

.user_name {
  color: rgb(3, 18, 60);
  font-weight: 500;
  
} 

/* .user_dialog .active {
  color: #EE914A;
} */