
.group_item {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  padding-right: 30px;
  font-family: "Prociono", serif;
  justify-content: space-between;
  cursor: pointer;
}

.items_group {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.avatar_wrapper {
  width: 200px;
}

.group_avatar { 
  height: 100px;
  margin-right: 40px;
  border-radius: 15px;;
}

.group_wrapper {
  align-items: center;
  text-align: center;
}

.group_name {
  margin: 10px;
  font-weight: 600;
  color: var(--text-active);
  letter-spacing: 2px;
  font-size: 38px;
}

.description {
  font-size: 24px;
}

.group_subscribers {
  margin: 10px;
  font-size: 18px;
  color: #dda9a9;
}

.wrapper_subscribers {
  display: flex;
  color: var(--text-titrs);
}

.subscribers {
  font-size: 24px;
  
  padding-left: 20px;
}

.icon_message {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 28px;
  color: var(--text-color);
  cursor: pointer;
}

.icon {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 28px;
  color: var(--delete-color);
  cursor: pointer;
}

@media (max-width: 430px) {
  .group_wrapper {
    display: flex;
    flex-direction: column;
  }

  .group_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    padding-right: 30px;
    margin-top: 20px;
    font-family: "Mochiy Pop One", sans-serif;
    /* justify-content: space-between; */
    color: rgb(75, 11, 172);
  }

  .group_avatar { 
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }
  
  .group_name {
    font-weight: 400;
    font-size: 24px;
    margin-top: 10px;
  }

  .group_subscribers {
    margin-bottom: 20px;
    font-size: 18px;
    color: #dda9a9;
  }
}