.friend_item {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  padding-right: 30px;
  font-family: "Mochiy Pop One", sans-serif;
  /* justify-content: space-between; */
  color: rgb(75, 11, 172);
}

.friend_item:hover {
  border: 3px white solid;
  border-radius: 15px;
  margin-right: 30px;
}

.friend_avatar { 
  height: 80px;
  width: 80px;
  margin-right: 20px;
  border-radius: 50%;
}

.friend_name {
  font-weight: 600;
  margin: 10px;
}

.friend_status {
  margin: 10px;
  font-size: 18px;
  color: #dda9a9;
}

.friend_country {
  margin: 10px;
  font-size: 22px;
  color: #9B9B9B;
}

.friend_city {
  margin: 10px;
  font-size: 20px;
  color: #9B9B9B;
}

.icon {
  padding-left: 20px;
  padding-right: 10px;
  font-size: 28px;
  color: white;
}