
.settings_wrapper {
  display: block;
  font-family: "Prociono", serif;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(66, 53, 37, 0.726) 0%, rgba(148,187,233, 0.5) 100%);
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
  z-index: 1;
}

.title {
  color: var(--text-title);
  font-family: "Cinzel", serif; 
  text-align: center;
  align-items: center;
  letter-spacing: 2px;
  font-size: 38px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}

.select_title {
  color: var(--text-title);
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

.select {
  margin: 5px;
  color: var(--text-inactive);
  background-color: var(--text-color);
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 15px;
}

.select:hover {
  
}