.video_wrapper {
  display: block;
  /* position: relative; */
  /* color: rgb(143, 222, 119); */
  /* width: 100%; */
  font-family: "Rye", serif;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(66, 53, 37, 0.726) 0%, rgba(148,187,233, 0.5) 100%);
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
  z-index: 1;
}

.title {
  color: var(--text-title);
  font-family: "Cinzel", serif; 
  text-align: center;
  align-items: center;
  letter-spacing: 2px;
  font-size: 38px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}

.video_btn {
  display: flex;
}

.video_content {
  font-family: "Prociono", serif;
  padding: 20px;
}

@media (max-width: 430px) {
  .video_wrapper {
    display: block;
    width: 100%;
    font-family: "Rye", serif;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202, 0.5) 0%, rgba(148,187,233, 0.5) 100%);
    padding-left: 10px;
    margin-right: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    z-index: 1;
  }
}