.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  /* background-image: linear-gradient(90deg, #00d4ff 0%, #090979 35%, #020024 100%); */
  background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 47%, rgba(2,0,36,1) 100%);
  padding: 20px;
  z-index: 2;
}

.header_logo {
  
}

.header img {
  height: 100px;
}

.header_nav {
  display: flex;
}

/* background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%); */