.nav {
  position: fixed; /* Фиксируем сайдбар */
  top: 60px; /* Позиционируем под шапкой */
  left: 0;
  height: calc(100vh - 60px); /* Вычитаем высоту шапки */
  width: 230px; /* Ширина сайдбара по умолчанию */
  background: var(--background);
  color: var(--text-color);
  transition: width 0.3s; /* Плавное изменение ширины */
  padding-top: 70px;
  z-index: 1; /* Обеспечиваем, что сайдбар будет поверх контента */
}

.nav.collapsed {
  width: 60px; /* Ширина сайдбара в свернутом состоянии */
}

.item {
  margin: 20px 10px;
  font-size: 48px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center; /* Центрируем иконки */
}

.icon {
  font-size: 24px;
}

.name {
  display: block;
}

.navCollapsed .name {
  display: none; /* Скрываем названия при свернутом сайдбаре */
}

.navExpanded .icon {
  display: none; /* Скрываем иконки при развернутом сайдбаре */
}






