.friends_wrapper {
  display: block;
  /* position: relative; */
  /* color: rgb(143, 222, 119); */
  /* width: 100%; */
  font-family: "Rye", serif;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202, 0.5) 0%, rgba(148,187,233, 0.5) 100%);
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 10px;
  z-index: 1;
}

.title {
  display: block;
  text-align: center;
  font-size: 38px;
  font-weight: 500;
  letter-spacing: 4px;
  color: rgb(13, 94, 8);
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
}

