.posts {
  text-align: center;
  padding: 10px;
}

.post_item {
  font-family: "Moderustic", sans-serif;
  align-items: center;
  font-weight: 400;
  letter-spacing: 2px;
  padding-bottom: 10px;
  color: rgb(35, 32, 32);
}

.post_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.like {
  height: 30px;
  width: 30px;
}