.posts {
  text-align: center;
  padding: 10px;
}

.post_item {
  font-family: "Grey Qo", cursive;
  font-weight: 500;
  letter-spacing: 2spx;
  padding-bottom: 10px;
  color: rgb(244, 240, 240);
}

.post_avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.like {
  height: 30px;
  width: 30px;
}