.item {
  margin: 20px 10px;  
  padding-right: 10px;
  padding-left: 10px;
}

.item a {
  font-size: 28px;
  letter-spacing: 2px;
  font-family: "Gorditas", serif;
  /* color: rgb(87, 225, 197); */
  color: white;
  text-decoration: none;
}

.item .active {
  color: #EE914A;
}

.item:last-child {
  padding-top: 60px;
}

.icon {
  padding-right: 10px;
}