.item {
  margin: 20px 20px;  
  padding-left: 30px;
}

.item a {
  font-size: 28px;
  letter-spacing: 2px;
  font-family: "Gorditas", serif;
  color: rgb(87, 225, 197);
  text-decoration: none;
}

.item .active {
  color: #EE914A;
}

.item:last-child {
  padding-top: 60px;
}