.item {
  margin: 20px 10px;  
  padding-right: 10px;
  padding-left: 10px;
}

.item a {
  font-size: 18px;
  letter-spacing: 1px;
  font-family: "Gorditas", serif;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.item a.active {
  color: #EE914A;
}

.icon {
  padding-right: 10px;
  font-size: 24px;
}

.name {
  /* Дополнительные стили для названий */
}

.navCollapsed .name {
  display: none; /* Скрываем названия при свернутом сайдбаре */
}

.navExpanded .icon {
  display: none; /* Скрываем иконки при развернутом сайдбаре */
}

