.table-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  background-color: #0e7b1a;
  font-family: "Cinzel", serif;
}

.table {
  width: 800px;
  height: 900px;
  border-radius: 50%;
  background: radial-gradient(circle, #2a2a2a 0%, #000000 100%);
  position: relative;
  border: 8px solid #ffffff;
}

.title {
  color: var(--text-title);
  font-family: "Cinzel", serif; 
  text-align: center;
  align-items: center;
  letter-spacing: 2px;
  font-size: 38px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}

.center-pot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.community-cards img {
  width: 60px;
  margin: 0 5px;
}

.pot {
  color: white;
  margin-top: 10px;
}

.players {
  position: relative;
}

.player {
  color: white; /* Добавляем цвет текста для улучшения видимости */
  font-size: 1.2em; /* Увеличиваем размер шрифта */
  margin: 10px 0; /* Добавляем отступы */
  text-align: center; /* Центрируем текст */
}

.player1 { top: -100px; left: 50%; transform: translateX(-50%); }
.player2 { top: 50%; left: 10px; transform: translateY(-50%); }
.player3 { top: 50%; right: 10px; transform: translateY(-50%); }
/* Добавить стили для других игроков */


.fold { background-color: red; color: white; }
.call { background-color: yellow; }
.raise { background-color: green; color: white; }
