
.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.name {
  font-weight: 400;
  margin: 10px;
  margin-top: 15px;
  font-family: "Rye", serif;
  letter-spacing: 4px;
  color: #EE914A;
}

.years { 
  margin-left: 10px;
  font-size: 34px;
}

.status_wrapper {
  margin-bottom: 20px;
  font-size: 38px;
}

.status {
  color: rgb(141, 20, 20);
}