.users_wrapper {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.users_wrapper span {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.selectedPade {
    font-weight: bold;
    color: var(--text-inactive);
}

.avatar {
    width: 100px;
    border-radius: 50%;
}

.button_users {
    padding: 5px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 12px;
    cursor: pointer;
}

.button_wrapper {
    padding-bottom: 25px;
}

.button {
    padding-top: -16px;
    padding: 5px;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
}

.button button {
    border: none;
}

.user_dates {
    display: flex;

}

.date {
    padding: 10px;
    padding-left: 50px;
    width: 350px;
}

.name {
    color: var(--text-inactive);
}

.country {
    color: var(--text-active);
}
