.home_wrapper {
  display: block;
  position: relative;
  color: var(--text-color);
  width: 100%;
  font-size: 2em;
  font-family: "Moderustic", sans-serif;

  background: rgb(238,174,202);

  background: radial-gradient(circle, rgba(66, 53, 37, 0.726) 0%, rgba(148,187,233, 0.5) 100%);

  padding-left: 40px;
  padding-top: 10px;
  border-radius: 10px;
  z-index: 1;
}

.title {
  color: #88A9C3;
  font-family: "Cinzel", serif; 
  text-align: center;
  align-items: center;
  letter-spacing: 2px;
  font-size: 38px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_title {
  font-family: "Cinzel", serif;
  font-weight: 400;
  text-align: center;
  color: var(--text-page);
}

.home_text {
  font-size: 34px;
  font-weight: 400;
  color: var(--text-color);
  text-align: center;
}