.profileInfo_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.name {
  font-weight: 400;
  margin: 10px;
  margin-top: 5px;
  font-family: "Rye", serif;
  letter-spacing: 4px;

}

.years { 
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 10px;
  font-size: 28px;
  margin-top: 0;
}

.years p {
  margin-right: 10px;
  margin-top: 5px;
  color: #EE914A;
}

.years span {
  margin-top: -18px;
 
}

.about_wrapper {
  margin-top: 40px;
  padding: 30px;
}

.about_item {
  font-size: 38px;
  padding-right: 20px;
  font-family: "Moderustic", sans-serif;
}

.about_item span {
  color: #EE914A;
}

.about {
  padding-bottom: 20px;
}

.status_item {
  margin-bottom: 20px;
  font-size: 38px;
}

.status_span {
  color: #EE914A;
}

@media (max-width: 430px) {
  .profileInfo_wrapper {
    display: flex; /* Показываем навигацию в шапке на мобильных */
    flex-direction: column;
    justify-content:flex-end;
  }

  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .name {
    font-weight: 400;
    margin: 5px;
    letter-spacing: 2px;
    font-size: 28px;
  }

  .years { 
    margin-left: 10px;
    font-size: 24px;
  }

  .about_wrapper {
    margin-top: 5px;
    padding: 10px;
  }

  .about_item {
    font-size: 28px;
    padding-right: 20px;
    font-family: "Moderustic", sans-serif;
  }

  .status_item {
    margin-bottom: 5px;
    font-size: 28px;
  }
  
}