/* Общее оформление */
.app-wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 230px 1fr; /* Ширина сайдбара по умолчанию */
  margin: 0 auto;
  height: 100%; /* Полная высота окна */
  min-height: 100vh;
  overflow: hidden; /* Скрываем переполнение для сайдбара */
}

.background_container {
  grid-area: content;
  position: relative;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #038fd1 0%, rgba(9,9,121,1) 40%, rgba(2,0,36,1) 100%);
  background-size: cover;
  background-position: center;
  padding: 40px;

}

.text_overlay {
  position: relative;
  width: 90%;
  height: 100%;
  font-size: 2em;
  font-family: "Rye", serif;
  padding-left: 40px;
  padding-top: 20px;
  border-radius: 10px;
  z-index: 1;
}

@media (max-width: 430px) {
  .app-wrapper {
    grid-template-areas:
      "header"
      "content";
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    height: 100%;
  }

  .background_container {
    grid-area: content;
    height: 100%;
    width: 100%;
    padding: 40px;
  
  }

  .text_overlay {
    position: relative;
    width: 65%;
    height: 100%;
    font-size: 1em;
    font-family: "Rye", serif;
    padding-left: 40px;
    padding-top: 5px;
    border-radius: 10px;
    z-index: 1;
  }

  .nav {
    width: 80px; /* Ширина сайдбара на мобильных устройствах */
  }

  .nav.collapsed {
    display: none; /* Убираем сайдбар при нажатии на иконку на мобильных */
  }

  .header_nav {
    display: none; /* Иконки в шапке скрываем на мобильных */
  }
}




/* font-family: "Matemasie", sans-serif; */
/* font-family: "Mochiy Pop One", sans-serif; */
/* font-family: "Grey Qo", cursive; */
/* font-family: 'Rye'; */
/* font-family: "Gorditas", serif; */
/* font-family: "Moderustic", sans-serif; */

