.app-wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1.5fr 10fr;
  margin: 0 auto;
}

/* font-family: "Grey Qo", cursive; */
/* font-family: 'Rye'; */
/* font-family: "Gorditas", serif; */

