:root {
  --background: #154276;
  --btn-bg: #faf5e3;
  --btn-hover: #88A9C3;
  --text-color: #faf5e3;

  --text-title: #88A9C3;
  --text-active: rgb(31, 179, 87);
  
  --text-page: #b3b9d6c9;   
  --text-inactive: #EE914A;

  --text-titrs: #9B9B9B;
}

[data-theme='dark'] {

  --background: #182c13;
  --btn-bg: #f1d8bbe3;
  --btn-hover: #ee914a65;
  --text-color: #f1d8bb70;
  --text-title: #1a1046;
  --text-page: #00000098; 

  --text-active: rgb(106, 28, 2);
  --text-inactive: rgb(106, 28, 2);
}

body {
  background: var(--background);
  color: var(--text-color);

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Moderustic", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
  };

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
