.dialogs {
  display: grid;
  grid-template-columns: 3fr 10fr;
  padding-bottom: 10px;
}

.dialogs_item {
  font-family: "Gorditas", serif;
  padding: 10px;
}

.dialogs_item .active {
  color: gold;
}

.dialog {
  padding-bottom: 10px;
}

.messages {
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 2px;
  color: rgb(62, 0, 128);
  padding: 10px;
}