.dialogs {
  display: grid;
  grid-template-columns: 4fr 9fr;
  padding-bottom: 10px;

  position: relative;
  width: 100vh;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202, 0.5) 0%, rgba(148,187,233, 0.5) 100%);
  padding-left: 40px;
  padding-top: 20px;
  border-radius: 10px;
  z-index: 1;
}

.dialogs_item {
  font-family: "Gorditas", serif;
  padding: 10px;
}

.dialogs_item .active {
  color: gold;
}

.messages {
  padding: 10px;
}

.new_message_wrapper {
  margin-top: 20px;
  padding: 10px;
}

.imput_message {
  margin: 15px;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  border: 2px black solid;
  cursor: pointer;
  text-align: center;
}

.imput_message::placeholder {
  color: black;
  bottom: 20px;
}

.send_message {
  margin: 15px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color:rgb(0, 60, 128);
  color: white;
  cursor: pointer;
  border: none;
}

.send_message:hover {
  background-color: rgb(0, 40, 80);
  color: orangered;
  margin-top: 5px;
}