.dialogs {
  display: grid;
  grid-template-columns: 3fr 10fr;
  padding-bottom: 10px;

  position: relative;
  width: 100vh;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202, 0.5) 0%, rgba(148,187,233, 0.5) 100%);
  padding-left: 40px;
  padding-top: 20px;
  border-radius: 10px;
  z-index: 1;
}

.dialogs_item {
  font-family: "Gorditas", serif;
  padding: 10px;
}

.dialogs_item .active {
  color: gold;
}

.messages {
  
  padding: 10px;
}
